about-time==3.1.1
alive-progress==2.4.1
beautifulsoup4==4.11.1
bs4==0.0.1
charset-normalizer==2.1.1
importlib==1.0.4
langdetect==1.0.9
packaging==24.0
pillow==10.3.0
pyinstaller==6.5.0
setuptools==69.2.0
tk==0.1.0
yugioh_database

